body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.home_section_one {
  background-image: url("../images/home_img1.png");
  min-height: 100vh;
  background-position: center;
}
.home_section_one_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}
.home_section_one_navbar_logo {
  margin-right: auto;
}
.home_section_one_navbar_login_button,
.home_section_one_navbar_register_button {
  padding: 5px 20px;
  margin: 0px 10px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}
.home_section_one_navbar_login_button {
  background-color: red;
  border: 1px solid red;
}
.home_section_one_navbar_register_button {
  border: 1px solid white;
}
.home_section_one_text {
  color: #fff;
  text-align: center;
}
.home_section_one_text_big {
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 50px;
  line-height: 100px;
}
.home_section_one_text_smallest {
  font-size: 20px;
  color: #f2c94c;
  margin-bottom: 80px;
}
.home_section_one_text_small {
  font-size: 24px;
  margin-bottom: 80px;
}
.home_section_one_text_buttons {
  margin: 20px;
}
.home_section_one_login_button,
.home_section_one_register_button {
  padding: 15px 40px;
  margin: 0px 10px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}
.home_section_one_login_button {
  background-color: red;
  border: 1px solid red;
}
.home_section_one_register_button {
  border: 1px solid white;
}
@media screen and (max-width: 900px) {
  .home_section_one_navbar {
    padding: 20px 20px;
  }
  .home_section_one_navbar_logo {
    height: 30px;
  }
  .home_section_one_navbar_login_button,
  .home_section_one_navbar_register_button {
    padding: 2px 8px;
    margin: 0px 5px;
  }
  .home_section_one_text_big {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 90px;
    line-height: 50px;
  }
  .home_section_one_text_smallest {
    font-size: 16px;
    margin-bottom: 70px;
  }
  .home_section_one_text_small {
    font-size: 20px;
    margin-bottom: 70px;
  }
}
.home_section_metrics {
  display: flex;
  min-height: 200px;
}
.home_section_metrics_item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_section_metrics_item_logo {
  margin: 10px;
}
.home_section_metrics_item_text_big {
  font-size: 40px;
  color: #f2994a;
  line-height: 50.4px;
}
.home_section_metrics_item_text_small {
  font-size: 13px;
  color: #4f4f4f;
}
@media screen and (max-width: 900px) {
  .home_section_metrics {
    flex-wrap: wrap;
  }
  .home_section_metrics_item {
    flex: 0 0 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .home_section_metrics_item_logo {
    height: 30px;
  }
  .home_section_metrics_item_text_big {
    font-size: 24px;
  }
}
.home_section_features {
  background-image: url(../images/wwrr\ 1.png);
  margin-bottom: 0;
}
.home_section_features_head {
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 40px;
}
.home_section_features_items {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.home_section_features_item {
  flex: 0 0 32%;
  min-height: 200px;
  background-color: rgba(47, 47, 47, 0.7);
  margin: 5px;
  padding: 20px;
  box-sizing: border-box;
}
.home_section_features_item_text_big {
  color: #f2c94c;
  margin-bottom: 20px;
  font-size: 20px;
}
.home_section_features_item_para {
  color: white;
  line-height: 21.75px;
  font-size: 15px;
  font-weight: 300;
}
.home_section_features_logos {
  text-align: center;
  padding: 70px;
}
.home_section_features_logo {
  margin: 15px;
}
@media screen and (max-width: 900px) {
  .home_section_features_item {
    flex: 0 0 100%;
    margin: 5px auto;
  }
  .home_section_features_item_para {
    line-height: 22px;
  }
  .home_section_features_logos {
    padding: 40px;
  }
  .home_section_features_logo {
    height: 35px;
  }
}
.home_section_how_it_works {
  background-color: black;
  color: white;
}
.home_section_how_it_works_head {
  text-align: center;
  padding: 50px;
  font-size: 40px;
}
.home_section_how_it_works_items {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.home_section_how_it_works_texts {
  display: flex;
  width: 66%;
  margin: auto;
  flex-wrap: wrap;
}
.home_section_how_it_works_item {
  height: 320px;
  flex: 0 0 500px;
  background-color: rgba(51, 51, 51, 0.6);
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home_section_how_it_works_item_title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #f2c94c;
  font-weight: 500;
  font-size: 40px;
}

.bigboxtthree {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  grid-template-areas:
    "topleft topright"
    "bottomleft bottomright";
}
.toplefttthree {
  grid-area: topleft;
  border-bottom: dashed 1px #4f4f4f;
  position: relative;
}
.toplefttthree_float {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(-50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 5px;
}
.toprighttthree {
  grid-area: topright;
  border: dashed 1px #4f4f4f;
  border-right: none;
  border-bottom: none;
  position: relative;
}
.toplefttthree_float,
.toprighttthree_float_bottom,
.bottomrighttthree_float_bottom,
.lefttfour_float_image,
.middletfour_float_top,
.middletfour_float_bottom,
.bottomrighttfour_float_top,
.bottomrighttfour_float_bottom,
.toprighttfour_float_top,
.toprighttfour_float_bottom,
.toprighttthree_float_top {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toprighttthree_float_top {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}
.toprighttthree_float_bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
  z-index: 1;
}
.bottomlefttthree {
  grid-area: bottomleft;
}
.bottomrighttthree {
  grid-area: bottomright;
  border: dashed 1px #4f4f4f;
  border-right: none;
  position: relative;
}
.bottomrighttthree_float_bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}

.bigboxtfour {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 40px 30px 10px 60px 10px 30px 20px;
  grid-template-areas:
    ". . . toprighttfour"
    ". middletfour middletfour toprighttfour"
    ". middletfour middletfour toprighttfour"
    "lefttfour middletfour middletfour ."
    ". middletfour middletfour bottomrighttfour"
    ". middletfour middletfour bottomrighttfour"
    ". . . bottomrighttfour";
}
.lefttfour {
  grid-area: lefttfour;
  border-bottom: dashed 1px #4f4f4f;
  position: relative;
  transform: translateY(-50%);
}
.lefttfour_float_image {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(-50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 5px;
}
.middletfour {
  grid-area: middletfour;
  border: dashed 1px #4f4f4f;
  border-right: none;
  position: relative;
}
.middletfour_float_top {
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}
.middletfour_float_bottom {
  position: absolute;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}
.bottomrighttfour {
  grid-area: bottomrighttfour;
  border: dashed 1px #4f4f4f;
  border-right: none;
  position: relative;
}
.bottomrighttfour_float_top {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}
.bottomrighttfour_float_bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}
.toprighttfour {
  grid-area: toprighttfour;
  border: dashed 1px #4f4f4f;
  border-right: none;
  position: relative;
}
.toprighttfour_float_top {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}
.toprighttfour_float_bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, 50%);
  background-color: #4f4f4f;
  border-radius: 50%;
  padding: 10px;
}

.home_section_how_it_works_text {
  height: 100px;
  flex: 0 0 48%;
  margin: 10px;
  display: flex;
  align-items: center;
}
.home_section_how_it_works_text_image {
  height: 20px;
  margin: 10px 20px;
}
.home_section_how_it_works_text_para {
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width: 900px) {
  .home_section_how_it_works_items {
    width: 90%;
  }
  .home_section_how_it_works_texts {
    width: 90%;
  }
  .home_section_how_it_works_item {
    flex: 0 0 100%;
  }
  .home_section_how_it_works_text {
    flex: 0 0 100%;
    margin: 5px auto;
  }
  .home_section_how_it_works_text_para {
    font-size: 14px;
  }
}

.home_section_faqs {
  background-image: url(../images/home_last_img.png);
  background-position: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 50px;
}
.home_section_faqs_head {
  text-align: center;
  padding: 50px;
}
.home_section_faqs_list {
  width: 70%;
  margin: auto;
}
.home_section_faqs_item {
  width: 80%;
  background-color: rgba(47, 47, 47, 0.7);
  margin: 15px auto;
  min-height: 50px;
  border-left: 4px solid red;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home_section_faqs_item_text {
  font-size: 25px;
  font-weight: 400;
}
.home_section_faqs_item_expand {
  font-size: 18px;
  font-weight: 200;
}
.home_section_faqs_item_expand {
  margin-top: 10px;
  display: none;
  flex: 100%;
}
@media screen and (max-width: 900px) {
  .home_section_faqs_head {
    padding: 20px;
  }
  .home_section_faqs_list {
    width: 95%;
  }
  .home_section_faqs_item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .home_section_faqs_item_text {
    font-size: 14px;
  }
  .home_section_faqs_item_expand {
    font-size: 14px;
  }
}
.home-section-footer{
  margin-top: 50px;
  text-align: center;
}
.home-section-footer small{
  display: block;
  margin-bottom: 10px;
}
